:root {
    --main-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196f3;
    --alt-color: #ffffff;
    --thirt-color: #f5f4fa;
    --alternative-bgr: #2f303a;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--main-color);
    background-color: var(--bgr-cl);
    font-family: "Roboto", sans-serif;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

/*heder*/

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 93px;
    color: var(--secondary-color);
}

.logo .item {
    color: var(--accent-color);
}

.menu {
    display: inline-flex;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.menu .menu-content:not(:last-child) {
    margin-right: 50px;
}

.list .link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.list .link:hover,
.list .link:focus {
    color: var(--accent-color);
}

.list .link.current {
    color: var(--accent-color);
}

.communication .links {
    margin: 0;
    padding-left: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-color);
}

.communication-nav {
    display: inline-flex;
}

.communication-nav:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links .contacts:hover,
.links .contacts:focus {
    color: var(--accent-color);
}

.contacts-icon {
    margin-right: 10px;
    fill: var(--main-color);
    transition-property: fill, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links .contacts:hover .contacts-icon,
.links .contacts:focus .contacts-icon {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.studio:valid {
    color: var(--accent-color);
}

/*герой*/
.hero {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(196, 196, 196, 1);
    color: var(--alt-color);
    text-align: center;
}

.hero .main-title {
    text-transform: uppercase;
    margin: 0 auto;
    max-width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.hero .btn {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--alternative-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 15);
    border-radius: 4px;
    border: 0;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .btn:hover,
.hero .btn:focus {
    color: var(--accent-color);
    background-color: var(--alt-color);
}

.specifics {
    padding-top: 94px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.specifics .specifics-items {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.specifics-items .item {
    width: 270px;
    text-decoration: none;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--thirt-color);
}

.feature-icon {
    width: 70px;
    height: 70px;
}

.specifics .skills {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work,
.team,
.clients-title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.makets {
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;
}

.makets .maket-item:not(:last-child) {
    margin-right: 30px;
}

.maket-thrumb {
    position: relative;
    width: 370px;
    height: 294px;
}

.maket-thrumb .describe-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0px;
    margin: 0;
    background: rgba(47, 48, 58, 0.8);
}

.maket-thrumb .describe {
    margin: 0;
    color: var(--alt-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.organization {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--thirt-color);
    text-align: center;
}

.team-woker {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;
}

.card-woker {
    background-color: var(--alt-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-woker .card-item {
    padding: 30px 32px;
}

.team-woker .card-woker:not(:last-child) {
    margin-right: 30px;
}

.members {
    margin: 0 0 10px 0;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.position {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-links {
    display: inline-flex;
    padding-left: 0;
}

.social-links .social-icon:not(:last-child) {
    margin-right: 10px;
}

.social-links .social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--alt-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--accent-color);
}

.social-icon-svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover .social-icon-svg,
.social-icon-link:focus .social-icon-svg {
    fill: var(--alt-color);
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;
}

.clients-item {
    width: 170px;
    height: 92px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
    fill: var(--accent-color);
}

.basement {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--alternative-bgr);
}

.basement-social-title,
.basement-social-list {
    margin: 0;
}

.basement-list {
    display: flex;
    align-items: baseline;
}

.logo-two {
    color: var(--alt-color);
}

.logo,
.logo-two {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.info {
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.info .info-item:not(:last-child) {
    margin-bottom: 9px;
}

.links {
    padding-left: 0;
}

.links .city {
    text-decoration: none;
    color: var(--alt-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links .alt-contact {
    text-decoration: none;
    color: var(--main-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links .alt-contact:hover,
.links .alt-contact:focus {
    color: var(--accent-color);
}

.links .city:hover,
.links .city:focus {
    color: var(--accent-color);
}

.basement-social {
    display: block;
    margin-left: 70px;
}

.basement-social .basement-social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--alt-color);
}

.basement-social-list {
    display: inline-flex;
    margin-top: 20px;
    padding-left: 0;
}

.basement-social-item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.basement-social-item:not(:last-child) {
    margin-right: 10px;
}

.basement-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.basement-social-icon {
    fill: var(--alt-color);
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.basement-social-link:hover,
.basement-social-link:focus {
    background-color: var(--accent-color);
}

.footer-form {
    margin-left: 93px;
    width: 570px;
    height: 86px;
}

.mailing-conteiner:focus-within .footer-mail {
    border-color: var(--accent-color);
    outline: 0;
}

.footer-mail::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mailing-conteiner {
    display: flex;
    width: 570px;
    height: 50px;
}
.mailing-title {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--alt-color);
}

.footer-mail {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--alternative-bgr);
    color: var(--alt-color);
}

.footer-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--alt-color);
}

.send-icon {
    width: 24px;
    height: 24px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    padding: 40px;
    width: 528px;
    min-height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--alt-color);
    border-radius: 4px;
}

.modal-exit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--alt-color);
    cursor: pointer;
}

.close-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-exit:hover .close-button,
.modal-exit:focus .close-button {
    fill: var(--accent-color);
}

.modal-form {
    width: 100%;
}

.modal_title {
    margin: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-color);
}

.anketa {
    display: block;
    width: 448px;
    height: 342px;
}

.form-conteiner {
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.feedback {
    margin-bottom: 20px;
}

.form-conteiner:focus-within .anketa_item,
.form-conteiner:focus-within .anketa-icon,
.form-conteiner:focus-within .coments {
    outline: none;
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
.anketa_title {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.anketa_item {
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.anketa-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
}

.coments {
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.coments::placeholder {
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.licence {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox-icon::before {
    content: "";
    display: inline-block;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 16px;
    height: 15px;
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
}

.licence-link {
    color: var(--accent-color);
}

.licence:focus-within {
    color: var(--accent-color);
}

.checkbox:checked + .checkbox-icon::before {
    border: none;
    background-color: var(--accent-color);
    background-image: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.send_button {
    display: block;
    margin: auto;
    margin-top: 74px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196f3;
    color: var(--alt-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*портфоліо стилізація*/
.our-works {
    padding-top: 94px;
    padding-bottom: 94px;
    border-top: 1px solid #eeeeee;
}

.main-filters {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.main-filters .filters-item:not(:last-child) {
    margin-right: 8px;
}

.filters-item .filters {
    padding: 6px 22px;
    color: var(--secondary-color);
    background-color: var(--thirt-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters:hover,
.filters:focus {
    color: var(--alt-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 94px;
}

.portfolio-item {
    display: flex;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-link {
    text-decoration: none;
}

.card-overlay {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.overlay {
    position: absolute;
    margin: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%);
    transition: transform 250ms;
    color: var(--alt-color);
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translate(-50%, -50%) translateY(0);
}

.portfolio-img {
    display: block;
    max-width: 100%;
}

.discription {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.portfolio-item .portfolio-link:hover,
.portfolio-item .portfolio-link:focus {
    box-shadow: 0px 3px 1px rgba(100, 8, 8, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
    padding: 20 px;
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.type {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
